html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

canvas {
    float: left;

    /*
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    margin-top: 2em;
}

#main {
    clear: both;
}

#instructions {
    float: left;
    font-family: sans-serif;
    color: #757575;
}

#score {
    float: right;
    color: white;
    font-size: 2em;
}

.key {
    color: #aaffdd;
}

#chatbox {
    float: right;
    width: 199px;
    height: 480px;
    border-left: 1px grey solid;
}

#chatoutput {
    background: white;
    overflow: auto;
    width: 200px;
    height: 540px;
}

#chatinput {
    width: 200px;
    height: 30px;
}

#chatsend {
    width: 200px;
    height: 30px;
}
